.firstnamecontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tiknamecontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}